html, body, {
  height: 100%;
}

.container {
  height: 100%;
}

.containers {
  border: 1px solid black;
}

.top, .bottom {
  height: 50%;
  width: 100%;
  float:left;
  margin-left: 1.6%;
}

#hit {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  text-align: center;
}

#textLeft {
  margin-left: 50px;
}
